
body {
    margin: 0;
}

main {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.hidden {
    display: none;
}

#message-recorder {
    background-color: #9ab87a;
}
